* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.background {
  background-color: #fff;
}
.head {
  position: relative;
  height: 538px;
  max-width: 1920px;
  background-color: #f8f8ff;
}
.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  font-size: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
  height: 100%;
}

.left-img {
  left: 0;
  position: absolute;
  z-index: 1;
}

.rigth-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.rigth-img img {
  display: block;
}

.title1 {
  color: red;
  gap: 10px;
}
.melhoresBlocos {
  color: #6246ea;
  bottom: 30%;
}
.campus {
  width: 62rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px;
  gap: 24px;
  position: relative;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}
input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 8px 12px 14px;
  border: none;

  width: 348px;
  height: 48px;

  background: #f4f4ff;
  border-radius: 5px;
}
.select-city {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 8px 12px 14px;
  border: none;

  width: 348px;
  height: 48px;

  background: #f4f4ff;
  border-radius: 5px;
}
.bucar-agora {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  color: #ffffff;
  border: none;

  width: 169px;
  height: 48px;

  background: #6246ea;
  border-radius: 5px;
}
.nav {
  padding-top: 70px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons-right {
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-right: 111px;
  height: 52px;
  width: 200px;
  gap: 5px;

  border: 1px #eaeaea;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}
.lista {
  width: 86px;
  height: 32px;
  border-radius: 5px;

  border: none;
  background-color: #6246ea;
  color: #fff;

  font-style: Bold;
}
.mapa { 
  width: 86px;
  height: 32px;
  border-radius: 5px;

  border: none;
  color:#6246ea;
  background-color: #ffffff;

  font-style: bold;
  font-family: 'Roboto';  
}
.card1 {
  margin-bottom: 20px;
  width: 385px;
  height: 323px;
  border-radius: 10px;
  margin-left: 30px;
  gap: 16px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;

}
.countener-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
  padding-top: 45px;
}

.img1 {
  border-radius: 10px 10px 0 0;
}
.img1:hover {
  background-color: #a0a0a0;
}


h3 {
  padding: 15px 0 15px 20px;
}
.card1 p {
  margin: 0 12px 10px 20px;
}
.card1 span {
  margin-left: 10px;
}
.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}
.local {
  margin-left: 10px;
}
